@import "tailwindcss";

:root {
  --background: #06090f;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  * {
    border-color: rgba(255, 255, 255, 0.05);
  }
}